<?xml version="1.0"?>
<config>
    <modules>
        <Elgentos_ExtendedAoeJsCssTstamp>
            <version>0.1.0</version>
        </Elgentos_ExtendedAoeJsCssTstamp>
    </modules>
    <global>
        <models>
            <elgentos_extendedaoejscsststamp>
                <class>Elgentos_ExtendedAoeJsCssTstamp_Model</class>
            </elgentos_extendedaoejscsststamp>
            <core>
                <rewrite>
                    <design_package>Elgentos_ExtendedAoeJsCssTstamp_Model_JsCssTstamp_Package</design_package>
                </rewrite>
            </core>
        </models>
        <blocks>
            <page>
                <rewrite>
                    <html_head>Elgentos_ExtendedAoeJsCssTstamp_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
            <adminhtml>
                <rewrite>
                    <page_head>Elgentos_ExtendedAoeJsCssTstamp_Block_Adminhtml_Page_Html_Head</page_head>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config>